.history__content {
  margin-top: 20px;
}

.history_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-bg-dark);
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: var(--box-shadow-dark);
  margin-bottom: 15px;
}

.history_item img {
  width: 150px;
  height: 100%;
  border-radius: 10px;
}

.history_item th {
  font-weight: 500;
  padding: 3px 0;
}
