/* .history__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

.history_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-bg-dark);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: var(--box-shadow-dark);
  margin-bottom: 15px;
}

.text_limmit_home {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.history_item img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.history_item th {
  font-weight: 500;
  padding: 3px 0;
}

@media (max-width: 576px) {
  .history_item {
    flex-direction: column;
  }
}
