#doanhthu .doanhthu_item {
  height: 240px;
  box-shadow: var(--box-shadow-dark);
  border-radius: 20px;
  padding: 50px;
  font-size: 2rem;
  position: relative;
  overflow: hidden;
}

#doanhthu .doanhthu_item span {
  position: relative;
  z-index: 1;
  transition: 0.2s ease;
}

#doanhthu .doanhthu_item::before {
  position: absolute;
  content: "";
  width: 350px;
  height: 350px;
  left: -60%;
  bottom: -60%;
  border-radius: 100%;
  background-color: var(--main-color-blue);
  transition: 1s var(--transition-cubic);
}

#doanhthu .doanhthu_item:hover::before {
  transform: scale(5);
}
#doanhthu .doanhthu_item:hover span {
  color: var(--second-bg);
}

#doanhthu .table-borderless {
  box-shadow: var(--box-shadow-dark);
  border-radius: 20px;
  margin-top: 50px;
}

#doanhthu td,
#doanhthu th {
  padding: 20px;
  font-size: 1.4rem;
}
